.card-auth {
    width: 45vw;
    padding: 3rem;
    transition: .25s;
    background: #FFF;
}

@media only screen and (max-width: 1600px) {
    .card-auth {
        width: 60vw;
        padding: 2.5rem;
    }
}

@media only screen and (max-width: 1200px) {
    .card-auth {
        width: 75vw;
        padding: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .card-auth {
        width: 80vw;
        padding: 2rem;
    }
}