@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

*::-webkit-scrollbar-track {
    background: #c4c4c4;
}

*::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}


* {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ===== GLOBAL CLASSES ===== */
.vh-100 {
  min-height: 100vh;
}
.vh-50 {
  min-height: 50vh;
}

.my-6 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.bg-main {
  background: #f9f9f9;
}

#page-wrapper {
  background: #f9f9f9;
  min-height: 100vh;
  padding-top: 80px;
}

#close-btn {
  position: absolute;
  cursor: pointer;
  outline: none;
  right: 0;
  margin: 0;
  padding: 5px 12px;
  background: rgb(247, 247, 247);
}
#close-btn:hover {
  background: #e0e0e0;
}


.spacing-1 {
  letter-spacing: 1px;
}
.spacing-2 {
  letter-spacing: 2px;
}

.pointer-cursor {
  cursor: pointer;
}


.list-group-item.active {
    background-color: #3F51B5 !important;
}
/* ===== GLOBAL CLASSES ===== */


/* ===== RESPONSIVES ===== */
@media only screen and (max-width: 767px) {
  #logo-home {
    display: none;
  }
}